<div class="container">
    <app-province-select [(selectedProvince)]="currentProvinceId"></app-province-select>
    <div class="d-flex justify-content-center justify-align-items">
        <h5 class="alert alert-danger text-center" *ngIf="!currentProvinceId">استانی انتخاب نشده است</h5>
        <h5 class="alert alert-success text-center" *ngIf="currentProvinceId">آی دی استان انتخاب شده {{currentProvinceId}}</h5>
    </div>
 
</div>
<hr />



<p *ngFor="let item of result; let i=index">{{i}}. {{item.Name}}
    <span (click)="delete(i)">حدف</span></p>

